<?xml version="1.0" encoding="UTF-8"?>
<configuration>



    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context"
                    name="APP_NAME"
                    source="spring.application.name"
                    defaultValue="fscbridge"/>

    <property name="LOG_FILE" value="logs/${APP_NAME}.log"/>


    <appender name="MASKED_CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="fscbridge_web.security.MaskingPatternLayout">
                <pattern>
                    %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>

   <appender name="MASKED_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                logs/${APP_NAME}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="fscbridge_web.security.MaskingPatternLayout">
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>

     <springProfile name="dev">

        <logger name="fscbridge_web" level="DEBUG"/>
        <logger name="fscbridge_audit" level="DEBUG"/>
        <logger name="fscbridge_connector" level="DEBUG"/>
        <logger name="fscbridge_mapper" level="DEBUG"/>
        <logger name="fscbridge_core" level="DEBUG"/>

        <logger name="org.springframework.batch" level="INFO"/>

        <logger name="org.hibernate.SQL" level="DEBUG"/>

        <logger name="org.springframework" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="MASKED_CONSOLE"/>
            <appender-ref ref="MASKED_FILE"/>
        </root>

    </springProfile>

  <springProfile name="prod">

        <!-- Our app: INFO in prod -->
        <logger name="fscbridge_web" level="INFO"/>
        <logger name="fscbridge_audit" level="INFO"/>
        <logger name="fscbridge_connector" level="INFO"/>
        <logger name="fscbridge_mapper" level="INFO"/>

        <!-- Never show Hibernate SQL in prod -->
        <logger name="org.hibernate.SQL" level="WARN"/>

        <!-- Spring: WARN only in prod -->
        <logger name="org.springframework" level="WARN"/>

        <!-- Root: INFO, write to both console and file -->
        <root level="INFO">
            <appender-ref ref="MASKED_CONSOLE"/>
            <appender-ref ref="MASKED_FILE"/>
        </root>

    </springProfile>

</configuration>